In [10]:
# Backslash
print("Hello \
Python")

Hello Python

In [12]:
#Triple Quotes
#
print(""" ▀██▀─▄███▄─▀██─██▀██▀▀█
─██─███─███─██─██─██▄█
─██─▀██▄██▀─▀█▄█▀─██▀█
▄██▄▄█▀▀▀─────▀──▄██▄▄█
""")
print("""──────────────────▒
─────────────────░█
────────────────███
───────────────██ღ█
──────────────██ღ▒█──────▒█
─────────────██ღ░▒█───────██
─────────────█ღ░░ღ█──────█ღ▒█
────────────█▒ღ░▒ღ░█───██░ღღ█
───────────░█ღ▒░░▒ღ░████ღღღ█
───░───────█▒ღ▒░░░▒ღღღ░ღღღ██─────░█
───▓█─────░█ღ▒░░░░░░░▒░ღღ██─────▓█░
───██─────█▒ღ░░░░░░░░░░ღ█────▓▓██
───██────██ღ▒░░░░░░░░░ღ██─░██ღ▒█
──██ღ█──██ღ░▒░░░░░░░░░░ღ▓██▒ღღ█
──█ღღ▓██▓ღ░░░▒░░░░░░░░▒░ღღღ░░▓█
─██ღ▒▒ღღ░░ღღღღ░░▒░░░░ ღღღღ░░ღღღ██
─█ღ▒ღღ█████████ღღ▒░ღ██████████ღ▒█░
██ღღ▒████████████ღღ████████████░ღ█▒
█░ღღ████████████████████████████ღღ█
█▒ღ██████████████████████████████ღ█
██ღღ████████████████████████████ღ██
─██ღღ██████████████████████████ღ██
──░██ღღ██████████████████████ღღ██
────▓██ღ▒██████████████████▒ღ██
───░──░███ღ▒████████████▒ღ███
────░░───▒██ღღ████████▒ღ██
───────────▒██ღ██████ღ██
─────────────██ღ████ღ█
───────────────█ღ██ღ█
────────────────█ღღ█
────────────────█ღ█░
─────────────────██░
""")

 ▀██▀─▄███▄─▀██─██▀██▀▀█
─██─███─███─██─██─██▄█
─██─▀██▄██▀─▀█▄█▀─██▀█
▄██▄▄█▀▀▀─────▀──▄██▄▄█

──────────────────▒
─────────────────░█
────────────────███
───────────────██ღ█
──────────────██ღ▒█──────▒█
─────────────██ღ░▒█───────██
─────────────█ღ░░ღ█──────█ღ▒█
────────────█▒ღ░▒ღ░█───██░ღღ█
───────────░█ღ▒░░▒ღ░████ღღღ█
───░───────█▒ღ▒░░░▒ღღღ░ღღღ██─────░█
───▓█─────░█ღ▒░░░░░░░▒░ღღ██─────▓█░
───██─────█▒ღ░░░░░░░░░░ღ█────▓▓██
───██────██ღ▒░░░░░░░░░ღ██─░██ღ▒█
──██ღ█──██ღ░▒░░░░░░░░░░ღ▓██▒ღღ█
──█ღღ▓██▓ღ░░░▒░░░░░░░░▒░ღღღ░░▓█
─██ღ▒▒ღღ░░ღღღღ░░▒░░░░ ღღღღ░░ღღღ██
─█ღ▒ღღ█████████ღღ▒░ღ██████████ღ▒█░
██ღღ▒████████████ღღ████████████░ღ█▒
█░ღღ████████████████████████████ღღ█
█▒ღ██████████████████████████████ღ█
██ღღ████████████████████████████ღ██
─██ღღ██████████████████████████ღ██
──░██ღღ██████████████████████ღღ██
────▓██ღ▒██████████████████▒ღ██
───░──░███ღ▒████████████▒ღ███
────░░───▒██ღღ████████▒ღ██
───────────▒██ღ██████ღ██
─────────────██ღ████ღ█
───────────────█ღ██ღ█
────────────────█ღღ█
────────────────█ღ█░
─────────────────██░

In [14]:
#String Inside The Quote
print('Hello World')

Hello World

In [15]:
print("python's world")

python's world

In [26]:
#Line Seperator / New Line Creator
print("Hello \nPython")

Hello
Python

In [30]:
print('Python\'s world')

Python's world

In [37]:
#Formatted Output
name= "Prasad Shinde"
marks= 90.856
age= 20
print("The Name Of The Person Is",name,"\nMarks:",marks,"\nAge:",age )

The Name Of The Person Is Prasad Shinde
Marks: 90
Age: 20

In [41]:
print("The Name Of The Person Is %4s \n Marks: %10.1f \n Age: %10d"%(name , marks , age))

The Name Of The Person Is Prasad Shinde
 Marks:       90.0
 Age:         20

In [44]:
#Variables

_10=6

In [43]:
print(_10)

6

In [51]:
#Python Assignment Statements
x=y=10
x
y

10

In [53]:
id(x)

140714450737088

In [54]:
id(y)

140714450737088

# Python Operators

In [64]:
#Arithmetic Operators
a=5**5
b=5**2
print(a)
print(b)

3125
25

In [67]:
a=10+40
b=40-20
c=int(20/2) #Bcoz Integer divided by Integer always gives us answer in Float format 
d= 12*11
print(a)
print(b)
print(c)
print(d)

50
20
10
132

In [68]:
13/3

4.333333333333333

In [69]:
#Modulus Operator means the commamd of getting remainder
a=10%3
b=25%11
print(a)
print(b)

1
3

In [70]:
#Floor Division
10//4

2

In [71]:
20//3

6

In [86]:
#Comparison Operators
a=20
b=10
c=20
a==b

False

In [74]:
a==c

True

In [75]:
c<=a

True

In [78]:
b>=a

False

In [82]:
a!=b

True

In [85]:
a!=c

False

In [105]:
#Assignment Operators
a=2
b=3
a+=b
a

5

In [106]:
a-=b
a

2

In [107]:
b/=a
b

1.5

In [109]:
b=3
a=2
a*=b
a

6

In [111]:
a=2
b=3
b**=a
b

9

In [117]:
b=5
a=-6
c=258
print(id(a) , id(b), id(c))

313962957392 140714450736928 313962957328

In [145]:
#Bitwise Operators
a=16
b=1
bin(a)

'0b10000'

In [146]:
bin(b)

'0b1'

In [147]:
a|b

17

In [148]:
bin(a|b)

'0b10001'

In [149]:
bin(a&b)

'0b0'

In [176]:
#Logiocal Operators
a=16
b=1
print(a>10 | b<5)

False

In [177]:
(a>10)|(b<5)

True

In [178]:
a>10 or b<5

True

In [179]:
a>=16 and b<2

True

In [180]:
a>=20 and b>50

False

In [181]:
not a<16

True

In [182]:
not 200<1

True

In [184]:
#Membership Operators
str = ("a","b",1,256,4)
1 in str

True

In [185]:
"a" in str

True

In [186]:
256 not in str

False

In [187]:
656 not in str

True

In [188]:
#Identity Operators
a=10
b=10
c=15
a==b

True

In [189]:
a==c

False

In [190]:
a is b

True

In [198]:
a=2.5
b=2.5
a==b

print(id(a))
print(id(b))

313963986800
313963984656

In [196]:
x is y

False

In [199]:
a = "string"
b = "string"

In [201]:
id(a), id(b)

(313917658032, 313917658032)

In [202]:
a is b

True

In [203]:
a=257
b=257
a==b

True

In [204]:
a is b

False

In [205]:
a=2489
b=2489

In [206]:
a==b

True

In [207]:
a is b

False

In [208]:
10+10/2*4

30.0

In [209]:
5//2

2

In [214]:
25%3*2//3

0

In [215]:
10+10/29*4

11.379310344827587

In [216]:
2**-1

0.5

In [217]:
10<2>1

False

In [218]:
10<12<15

True

In [220]:
10<12>15

False